.navb{
    transition: 1s;
    background-color: #2c302f;
    box-shadow: 5px 5px 5px 2px rgba(27, 27, 27, 0.2);
    color: white;
}


.navbar-nav a:hover{
    border-bottom: white 1px solid;
    transition: step-start;
    padding-top: 0.5rem;
}

.navbar-toggler{
    border:none !important;
}

.navbar-toggler:focus {
     text-decoration: none; 
     outline: none !important;
     box-shadow: none !important; 
}

.text{
    text-decoration: none;
}